.header {
  border-bottom: 1px solid $decoration-color-3;
  background-color: $background-color-2;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  height: 88px;
  width: 100%;
  align-items: center;
  min-width: 320px;

  &__icon-wrapper {
    margin: 8px;
    display: flex;

    &--main-logo {
      margin: unset;
      flex-grow: 1;

      .icon {
        margin: unset;
      }
    }
  }

  &__contact {
    display: none;
  }

  &__repair {
    margin: 16px;
    margin-left: 0;
    position: relative;

    &::before {
      content: '';
      height: 32px;
      width: 2px;
      background-color: $decoration-color-5;
      border-radius: 1px;
      margin-right: 12px;
      margin-left: 4px;
      align-self: center;
    }
  }
}
