.main-content {
  flex-grow: 1;
  margin-top: 88px;

  &__paragraph {
    transition: all 1s ease;
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 24px 16px 0;
    font-family: 'TT Lakes';
    position: relative;

    &-icons {
      margin-right: 8px;
      display: none;
      align-items: center;
    }

    &-description {
      letter-spacing: -0.2px;
      margin-left: 24px;
      font-weight: 500;
      cursor: pointer;
    }

    &:not(.repair-info__header)::before {
      position: absolute;
      content: '';
      border-radius: 4px;
      height: 100%;
      width: 8px;
      height: 32px;
      left: -20px;
      top: 4px;
      background-color: $decoration-color-1;
    }
    h1 {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: -0.6px;
      flex: 1;
    }

    h2 {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: normal;
    }
  }
}

.footer {
  margin-top: 40px;
  padding: 16px;
  border-top: 1px solid $decoration-color-2;
  padding: 16px;
  text-align: center;

  &__paragraph,
  &__link {
    color: $text-color-2;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: unset;
    opacity: .72;
  }
}

.about {
  display: flex;
  flex-direction: column;

  .dropdown {
    letter-spacing: -0.2px;
    margin: 16px 0;
  }
  &__wrapper {
    margin: 8px 16px;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

    img {
      width: 100%;
    }
    height: 100%;
  }

  &__description {
    margin-bottom: 16px;
    transition: all 1s ease;
    overflow: hidden;
    letter-spacing: -0.2px;
  }
}

.repair-info {
  margin-top: 24px;

  &__header {
    margin-left: unset;
    width: 100%;
    border-top: 1px solid $decoration-color-2;
    background: linear-gradient(
      to right,
      $background-color-1,
      $background-color-2
    );

    h2 {
      padding: 16px;
      text-transform: uppercase;
    }
  }

  &__offer-notice {
    margin: 16px 16px 0;
  }

  &__more-offers {
    margin-top: 16px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    user-select: none;
    cursor: pointer;

    &::after {
      content: '>';
      display: inline-block;
      color: $icon-color-1;
      margin-left: 10px;
      transform: scale(0.8, 1.8) translateY(-1px);
      font-weight: 500;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  height: 40px;
  width: 40px;
  background-color: $icon-color-1;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;

  &--small {
    height: 12px;
    width: 12px;
  }

  &--logo {
    height: 50px;
    width: 96px;
  }

  &--brand {
    width: unset;
    height: unset;
  }

  &--clear-background {
    background-color: unset;
  }

  &--border {
    border: 2px solid $decoration-color-4;

    img {
      filter: invert(43%) sepia(28%) saturate(7486%) hue-rotate(319deg)
        brightness(101%) contrast(101%);
    }
  }
  img {
    pointer-events: none;
  }
}

.icons-wrapper {
  display: flex;

  &--grow {
    flex-grow: 1;
  }
}
