.menu {
  letter-spacing: -0.2px;
  font-weight: 500;
  transition: all 0.75s ease-in-out;
  padding: 0 8px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 360px;
  height: 100%;
  display: flex;
  background-color: $background-color-2;
  flex-direction: column;
  transform: translateX(-100%);
  opacity: 0.25;
  z-index: 4;
  &__header {
    display: flex;
    align-items: center;
    height: 88px;
  }

  &--active {
    transition: 0.75s all 0.25s ease-in-out;
    transform: translateX(0);
    opacity: 1;
    box-shadow: 16px 0 52px 0px $shadow;
  }
}

.navigation {
  margin-top: 10px;
  flex-grow: 1;

  ul {
    padding: 0;
  }


   
  &__link {
    display: block;
    padding: calc(12px - 0.25em) 8px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin: 0;
    user-select: none;
    color: $text-color-1;

    a{
      pointer-events: none;
    }


    &:hover:not(&--active) {
      &::after {
        opacity: 1;
      }
    }
    &::after {
      transition: all 0.75s ease;
      content: '>';
      position: absolute;
      color: $icon-color-1;
      transform: scale(0.8, 1.8) translateY(-1px);
      font-weight: 500;
      right: 0;
      opacity: 0;
    }
    &::before {
      transition: all 1s ease;
      position: absolute;
      content: '';
      background-color: unset;
      border-radius: 4px;
      height: 100%;
      width: 8px;
      height: 32px;
      left: -12px;
      top: 4px;
    }

    &--active {
      a{
      color: $text-color-2;
      transition: all 0.5s ease;
      }

      &::before {
        background-color: $decoration-color-1;
      }
    }
  }
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: $text-color-1;
}

.contacts {
  font-style: normal;

  margin: 0 8px;
  margin-top: 8px;

  &__mail {
    font-size: 16px;
    line-height: 24px;
  }

  &__phone {
    letter-spacing: -0.6px;
    margin-top: 12px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
}

.language-select {
  margin: 8px;
  margin-bottom: 32px;
  &__language--active {
    color: $text-color-2;
    transition: all 0.75s ease;
  }
}
