.swiper {
  margin: 16px 0 0;
  height: auto;
  width: 100%;
}

.swiper-wrapper {
  padding-left: 16px;
  justify-content: space-between;

}

.swiper-slide {
  width: 240px;
  height: 72px;
  background-color: $background-color-1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background: $bullet-color-1;
  opacity: 1;
  border-radius: 50%;
  margin: 0px 6px;

  &-active {
    background: $bullet-color-2;
    opacity: 1;
  }
}

.card {
  position: relative;
  border-radius: 6px;
  min-width: 240px;
  height: 72px;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: $background-color-1;

  &__content {
    margin: 8px;
  }

  &__header {
    h3 {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      font-weight: 500;
      margin: 0;
    }

    h4 {
      font-size: 14px;
      line-height: 16px;
      color: #7e7e82;
      font-weight: 500;
      margin: 0;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 18px;
    margin: 4px 0;
  }

  &--big {
    height: 160px;
    align-items: flex-start;
  }

  &--very-big {
    height: 200px;
    min-width: 260px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__button {
    position: absolute;
    right: 16px;
    bottom: 16px;

    .icon {
      margin: unset;
    }
  }
}