.swiper {
  margin-top: 16px;
  padding-left: 16px;
  height: auto;
  width: 100%;
}

.swiper-wrapper {
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 1px;
}

.swiper-slide {
  width: 240px;
  height: 72px;
  background-color: $background-color-2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background: $bullet-color-1;
  opacity: 1;
  border-radius: 50%;
  margin: 0px 6px;

  &-active {
    background: $bullet-color-2;
    opacity: 1;
  }
}

.card {
  position: relative;
  border-radius: 6px;
  min-width: 240px;
  height: 72px;
  border: 1px solid $decoration-color-5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  transition: all 0.75s ease;
  user-select: none;
  cursor: pointer;

  &:hover {
    border: 1px solid $button-color-2;
    .button {
      &:not(.icon--clear-background) {
        background-color: $button-color-2;
        border: 1px solid $button-color-2;
      }
      &.icon--clear-background {
        filter: invert(91%) sepia(44%) saturate(730%) hue-rotate(88deg)
          brightness(99%) contrast(96%);
      }
    }
  }

  &__content {
    margin: 8px;
  }

  &__header {
    h3 {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      font-weight: 500;
      margin: 0;
    }

    h4 {
      color: $text-color-2;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      margin: 0;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 18px;
    margin: 4px 0;
  }

  &--big {
    height: 160px;
    align-items: flex-start;
  }

  &--very-big {
    height: 200px;
    min-width: 260px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__button {
    position: absolute;
    right: 16px;
    bottom: 16px;

    .icon {
      margin: unset;
    }
  }
}
