@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TT Lakes';
  font-weight: 500;
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
}

@font-face {
  font-family: 'TT Lakes';
  font-weight: 700;
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
}

$shadow: #0e185030;

$text-color-1: #1b1c21;
$text-color-2: #7e7e82;
$text-color-3: #fff;
$text-color-4: #b5b6bc;
$text-color-5: #ff3e79;

$decoration-color-1: #41f6d7;
$decoration-color-2: #d9fff5;
$decoration-color-3: #b8ffec;
$decoration-color-4: #ff3e79;
$decoration-color-5: #eaeaea;

$button-color-1: #ff3e79;
$button-color-2: #41f6d7;

$background-color-1: #f8f8f8;
$background-color-2: #fff;
$background-color-3: #ff3e79;

$bullet-color-1: #dddddd;
$bullet-color-2: #b5b6bc;

$icon-color-1: #ff3e79;
