@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 500;
    src: url("../fonts/TTLakes-Medium.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 700;
    src: url("../fonts/TTLakes-Bold.woff") format("woff");
}

$shadow: #0e185030;

$text-color-1: #1B1C21; 
$text-color-2: #7E7E82;
$text-color-3: #FFF;
$text-color-4: #B5B6BC;
$text-color-5: #FF3E79;

$decoration-color-1: #41F6D7; 
$decoration-color-2: #D9FFF5; 
$decoration-color-3: #B8FFEC; 
$decoration-color-4: #FF3E79; 
$decoration-color-5: #EAEAEA; 

$button-color-1: #FF3E79; 
$button-color-2: #41F6D7; 

$background-color-1: #F8F8F8;
$background-color-2: #FFF;
$background-color-3: #FF3E79;

$bullet-color-1: #DDDDDD;
$bullet-color-2: #B5B6BC;

$icon-color-1: #FF3E79;